
.content-table {
    border-collapse: collapse;
    margin: 0px 0;
    font-size: 14px;
    max-width: 50px;
    border-radius: 5px 5px 0 0;
    overflow: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}

.content-table thead tr {
    background-color: rgba(255, 255, 255, 0);
    color: #000;
    text-align: left;
    font-size: 14px;
    
    
}

.content-table th{
    padding-right:20px;
    padding-right:10px;
    padding-bottom: -2px;
    padding-top:2px;
    border-bottom: 5px solid rgb(255, 255, 255);
    background-color: #9370DB;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    


}


.content-table td {
    
    padding-right:20px;
    padding-right:10px;
    padding-bottom: 2px;
    padding-top:2px;
    border-bottom: 3px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.586);
    
    
    
}

.content-table tbody tr {
    border-bottom: 2px solid rgb(73, 73, 73);
}

.content-table tbody tr:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0);

}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #fff;
}

.content-table tbody tr.active-row {
    color: rgb(0, 0, 0);
}